<template>
  <div id="app">
    <div class="gun">guntext</div>
    <div class="tum">Hi</div>
    <div class="nam">testtest</div>
    <div class="tle">Lorem, ipsum dolor.</div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
